exclude: '(src/python_project_generator/templates/.*|.*\{\{.*\}\}.*|template_main.py|tests_template_.*)'
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: ["--ignore-missing-imports"]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.14.3
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
