name: CI (entrypoint)

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  call-reusable-ci:
    uses: ./.github/workflows/ci-reusable.yml
    with:
      python-versions: '3.10,3.11,3.12'
